# This is a basic workflow to help you get started with Actions

name:        Maven - Default Build

# Controls when the action will run.
on:
    # Triggers the workflow on push events but only for version branches
    push:
        branches: [
            "version/*",
            "!version/release/*"
        ]

permissions: read-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        permissions:
            # Allows to upload to Maven repository with the GITHUB_TOKEN
            packages: write

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            -   id:   checkout
                name: Git Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            -   id:   setup_git
                name: Setup Git
                run:  |
                      git config --global user.name  "github-actions[bot]"
                      git config --global user.email "github-actions[bot]@users.noreply.github.com"
            -   id:   setup_java
                name: Setup JDK 17
                uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
                with:
                    distribution:    'temurin'
                    java-version:    '17'
                    cache:           maven
                    server-id:       project-repo # Value of the distributionManagement/repository/id field of the pom.xml
                    settings-path:   ${{ github.workspace }} # location for the settings.xml file
                    gpg-passphrase:  'gpg_passphrase'
                    gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}

            -   id:   maven_build
                name: Build with Maven
                env:
                    GITHUB_TOKEN:             ${{ secrets.GITHUB_TOKEN }}
                    MAVEN_GPG_PASSPHRASE:     ${{ secrets.GPG_PASSPHRASE }}
                    ossindex_user:            ${{ vars.OSSINDEX_USER }}
                    ossindex_api_key:         ${{ secrets.OSSINDEX_API_KEY }}
                    nvd_api_key:              ${{ secrets.NVD_API_KEY }}
                    gpg_keyid:                ${{ secrets.GPG_KEYID }}
                    mvnsiteuploader_password: ${{ secrets.MVNSITEUPLOADER_PASSWORD }}
                run:  |
                      mvn -B \
                      clean deploy \
                      -e \
                      -s ci_settings.xml --file pom.xml \
                      -Dexecutable \
                      -P set-general-parent-version
