# This is a basic workflow to help you get started with Actions

name:        Test Attestation

# Controls when the action will run.
on:
    # Triggers the workflow on push events but only for version branches
    push:
        branches: ["version/3.0.x"]

permissions: read-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    release:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        # Allows to push, create PRs and upload to Maven repository with the GITHUB_TOKEN
        permissions:
            actions:       read
            contents:      write
            packages:      write
            pull-requests: write
            id-token:      write
            attestations:  write

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            -   id:   upload_provenance
                name: Collect and upload provenance
                env:
                    GH_TOKEN:   ${{ secrets.GITHUB_TOKEN }}
                    TAG:        3.0.45
                    REPO:       ${{ github.repository }}
                    TARGET_DIR: ${{ github.workspace }}/provenance
                run:  |
                      set -euo pipefail

                      echo "create ${TARGET_DIR}"
                      mkdir -p "${TARGET_DIR}"

                      FILES=(
                        "general-parent-${TAG}.pom"
                        "general-parent-${TAG}.pom.asc"
                        "general-resources-${TAG}.jar"
                        "general-resources-${TAG}.jar.asc"
                        "build-parent-${TAG}.pom"
                        "build-parent-${TAG}.pom.asc"
                        "java-parent-${TAG}.pom"
                        "java-parent-${TAG}.pom.asc"
                        "java-parent-test-${TAG}-dist.zip"
                        "java-parent-test-${TAG}-dist.zip.asc"
                        "webapp-parent-${TAG}.pom"
                        "webapp-parent-${TAG}.pom.asc"
                        "webapp-parent-test-${TAG}-dist.zip"
                        "webapp-parent-test-${TAG}-dist.zip.asc"
                        "java-exe-parent-${TAG}.pom"
                        "java-exe-parent-${TAG}.pom.asc"
                        "java-exe-parent-test-${TAG}-dist.zip"
                        "java-exe-parent-test-${TAG}-dist.zip.asc"
                        "maven-plugin-parent-${TAG}.pom"
                        "maven-plugin-parent-${TAG}.pom.asc"
                        "js-parent-${TAG}.pom"
                        "js-parent-${TAG}.pom.asc"
                        "php-parent-${TAG}.pom"
                        "php-parent-${TAG}.pom.asc"
                        "python-parent-${TAG}.pom"
                        "python-parent-${TAG}.pom.asc"
                      )

                      echo "Iterate over all assets"
                      while IFS= read -r -d '' file; do
                        echo "Downloading attestation for artifact: $file"
                        gh attestation download "$file" --repo "$REPO"
                      done < <(printf '%s\0' "${FILES[@]}")

                      echo "Move files"
                      find . -maxdepth 1 -type f -name 'sha256:*.jsonl' -print0 \
                        | xargs -0 -I{} echo "{} to ${TARGET_DIR}/"
                      find . -maxdepth 1 -type f -name 'sha256:*.jsonl' -print0 \
                        | xargs -0 -I{} mv "{}" "${TARGET_DIR}/"

                      REPO_NAME="${REPO##*/}"
                      ASSET_NAME="${TARGET_DIR}/${REPO_NAME}-${TAG}.intoto.jsonl"
                      cat "${TARGET_DIR}"/sha256:*.jsonl > "${ASSET_NAME}"

                      gh release upload "${TAG}" "${ASSET_NAME}" --clobber
