# This is a basic workflow to help you get started with Actions

name:        Test Attestation

# Controls when the action will run.
on:
    # Triggers the workflow on push events but only for version branches
    push:
        branches: [
            "feature/provenance"
        ]

permissions: read-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    test:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        # Allows to push, create PRs and upload to Maven repository with the GITHUB_TOKEN
        permissions:
            actions:       read
            contents:      write
            packages:      write
            pull-requests: write
            id-token:      write
            attestations:  write
        env:
            TAG: 3.0.45

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            -   id:   checkout
                name: Git Checkout
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
                with:
                    ref: ${TAG}
            -   id:   setup_git
                name: Setup Git
                run:  |
                      git config --global user.name  "github-actions[bot]"
                      git config --global user.email "github-actions[bot]@users.noreply.github.com"
            -   id:   upload_provenance
                name: Collect and upload provenance
                env:
                    GH_TOKEN:      ${{ secrets.GITHUB_TOKEN }}
                    REPO:          ${{ github.repository }}
                    WORKSPACE_DIR: ${{ github.workspace }}
                run:  |
                      set -euo pipefail

                      ASSETS_DIR="${WORKSPACE_DIR}/release-assets"
                      echo "create ${WORKSPACE_DIR}"
                      mkdir -p "${ASSETS_DIR}"

                      echo "Download release ${TAG}"
                      gh release download "${TAG}" --repo "${REPO}" --dir "${ASSETS_DIR}"

                      echo "Iterate over all assets"
                      while IFS= read -r -d '' file; do
                        echo "Downloading attestation for artifact: $file"
                        gh attestation download "$file" --repo "$REPO"
                      done < <(find "${ASSETS_DIR}" -type f -print0)

                      TARGET_DIR="${WORKSPACE_DIR}/provenance"
                      echo "create ${TARGET_DIR}"
                      mkdir -p "${TARGET_DIR}"

                      echo "Move files"
                      find . -maxdepth 1 -type f -name 'sha256:*.jsonl' -print0 \
                        | xargs -0 -I{} echo "{} to ${TARGET_DIR}/"
                      find . -maxdepth 1 -type f -name 'sha256:*.jsonl' -print0 \
                        | xargs -0 -I{} mv "{}" "${TARGET_DIR}/"

                      REPO_NAME="${REPO##*/}"
                      ASSET_NAME="${TARGET_DIR}/${REPO_NAME}-${TAG}.intoto.jsonl"
                      cat "${TARGET_DIR}"/sha256:*.jsonl > "${ASSET_NAME}"

                      gh release upload "${TAG}" "${ASSET_NAME}" --clobber
