# This is a basic workflow to help you get started with Actions

name:        Test Attestation

# Controls when the action will run.
on:
    # Triggers the workflow on push events but only for version branches
    push:
        branches: [
            "feature/provenance"
        ]

permissions: read-all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    test:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        # Allows to push, create PRs and upload to Maven repository with the GITHUB_TOKEN
        permissions:
            actions:       read
            contents:      write
            packages:      write
            pull-requests: write
            id-token:      write
            attestations:  write
        env:
            TAG: 3.0.45

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            -   id:   checkout
                name: Git Checkout
                uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
                with:
                    ref: ${{ env.TAG }}
            -   id:   setup_git
                name: Setup Git
                run:  |
                      git config --global user.name  "github-actions[bot]"
                      git config --global user.email "github-actions[bot]@users.noreply.github.com"
            -   id:   upload_provenance
                name: Collect and upload provenance
                env:
                    GH_TOKEN:      ${{ secrets.GITHUB_TOKEN }}
                    REPO:          ${{ github.repository }}
                    WORKSPACE_DIR: ${{ github.workspace }}
                run:  |
                      set -euo pipefail

                      ASSETS_DIR="${WORKSPACE_DIR}/assets"
                      echo "Create assets directory: ${ASSETS_DIR}"
                      mkdir -p "${ASSETS_DIR}"

                      echo "Download release assets: ${TAG}"
                      gh release download "${TAG}" --repo "${REPO}" --dir "${ASSETS_DIR}"

                      asset="$(find "${ASSETS_DIR}" -type f | head -n 1)"
                      echo "Download attestation of asset: ${asset}"
                      gh attestation download "${asset}" --repo "${REPO}"

                      attestation="$(ls -1 sha256:*.jsonl | head -n 1)"
                      echo "Downloaded attestation: ${attestation}"

                      TARGET_DIR="${WORKSPACE_DIR}/provenance"
                      echo "Create target directory: ${TARGET_DIR}"
                      mkdir -p "${TARGET_DIR}"

                      REPO_NAME="${REPO##*/}"
                      ASSET_NAME="${TARGET_DIR}/${REPO_NAME}-${TAG}.intoto.jsonl"
                      echo "Move attestation to ${ASSET_NAME}"
                      mv "${attestation}" "${ASSET_NAME}"

                      echo "Upload attestation as release asset"
                      gh release upload "${TAG}" "${ASSET_NAME}" --clobber
